extends layout

block navItems
  +link('/browse', 'Home')
  +link('/browse/items', 'All items')
  +link('/browse/brands', 'All brands')
  +link('/browse/categories', 'All categories')
  li(class='nav-item w-50 p-1')
    hr(class="text-white")
  +link('/browse/brand/create', 'Create new brand')
  +link('/browse/category/create', 'Create new category')
  +link('/browse/item/create', 'Create new item')

block content
  h1= title

  div(style='ml-1 mr-1')

  h4 Items

  dl
    each item in categoryItems
      dt
        a(href=item.url) #{item.name}
      dd #{item.description}
    else
      p This category has no items
