extends ../layout

block navItemsGroupOne
  +link('/browse/items', 'All items')
  +link('/browse/brands', 'All brands')
  +link('/browse/categories', 'All categories', true)

block content
  h1(class="fw-light") #{title} (#[strong #{categoryCount}])

  ul(class="p-3")
    each category in listCategories  
      li(class="m-3 list-unstyled fs-1 text-center")  
        a(href=category.url) #{category.name}
    else
      li There are no categories.
